[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-filter = "*"
djangorestframework = "*"
markdown = "*"
gunicorn = "*"
pylint = "*"
python-decouple = "*"

[requires]
python_version = "3.7"
